* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
}

div {
	width: 100%;
	margin: 20px;
}

div li {
	display: flex;
	align-items: center;
}

div li + li {
	margin-top: 15px;
}

button {
	background: #7159c1;
	color: #fff;
	border: 0;
	padding: 10px 15px;
	cursor: pointer;
	/* margin-top: 15px; */
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 30px;
	border-radius: 0.25rem;
}

div li button {
	margin: 0 15px;
	background: #ca4949;
}

.label {
	padding-top: calc(0.5rem + 1px);
	padding-bottom: calc(0.5rem + 1px);
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 20px;
}

.textbox {
	display: block;
	width: 300px;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	margin-bottom: 20px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-error {
	border-color: #dc3545;
	padding-right: calc(1.5em + 0.75rem);
	border-width: 2px;
}

.label-sm {
	font-size: 12px;
}
